html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'HGMaruGothicMPRO_22721';
    overflow: hidden;
}
.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 160px;
    height: 60px;
}
.logo img {
    width: 100%;
}
.fil_ariane {
    position: absolute;
    top: 7.5%;
    left: 20%;
    width: 84%;
    font-size: 1.25em;
}
.fil_ariane .elem {
    display: inline-block;
}
.fil_ariane .sep {
    display: inline-block;
    margin: 0 9px;
}
.btn_valider {
    position: absolute;
    bottom: 18px;
    right: 36px;
    background-color: white;
    border: 2px solid #003181;
    padding: 13px 0;
    border-radius: 9px;
    cursor: pointer;
    text-align: center;
    width: 250px;
    font-weight: 700;
    transition: all 0.2s ease;
}
.btn_valider:hover {
    background-color: #003181;
    color: white;
}
.menu_gauche {
    position: absolute;
    top: 0;
    left: 1%;
    width: 13%;
    height: 100%;
    background-color: #003181;
}
.menu_gauche ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 6px;
    flex-direction: column;
}
.menu_gauche li {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 173px;
    background-color: white;
    margin: 6px auto;
    width: 183px;
    color: #003181;
    font-weight: 700;
    font-size: 1.7em;
    cursor: pointer;
}
.menu_gauche li.sel, .menu_gauche li.sel:hover {
    background-color: #ffffff00;
    color: white;
}
.menu_gauche li:hover {
    background-color: #ffffff52;
    color: white;
}
.dashboard_hexagon {
    width: 79%;
    height: 84%;
    position: absolute;
    top: 10%;
    left: 19%;
    margin: 0;
    padding: 0;
}
.ligne{
    height: 202px;
}
.ligne.ligne_un {
    margin-top: 38px;
}
.ligne.ligne_deux {
    margin-left: 98px;
}
.ligne_deux .hexagon_container {
    margin-top: -38px;
}
.ligne_trois .hexagon_container {
    margin-top: -72px;
}
.hexagon_container {
    float: left;
    margin-left: 20px;
}
.svg_icon {
    position: absolute;
    top: -8px;
    left: 46px;
    z-index: 3;
    width: 70px;
}
.svg_icon img {
    width: 100%;
}
.text_icon {
    position: absolute;
    top: 73px;
    left: 0;
    z-index: 3;
    width: 163px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    color: #003181;
    transition: all 0.4s ease;
}
.hexagon:hover .text_icon, .hexagon.selected .text_icon{
    color: white;
}
@font-face {
    font-family: 'HGMaruGothicMPRO_22721';
    src: url('HGMaruGothicMPRO_22721.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}